.aboutContent {
  justify-items: center;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  font-size: 18px;
}