.footer {
  background-color: var(--placeholder-color);
  height: 100px;
  display: flex;
  justify-items: center;
}
.footerEl {
  flex: 1;
  align-self: center;
  text-align: center;
  color: var(--footer-text-color);
  cursor: pointer;
}
.phone {
  cursor: text;
}
/* AAAAAAAAA */