.header {
  height: 60px;
  padding: 15px;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 33px;
  background-color: var(--lighter-color);
}
.headerEl {
  background-color: var(--lighter-color);
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-content {
  background-color: var(--lighter-color);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
input {
  border: solid 2px;
  border-radius: 6px;
}
input:focus {
  outline: none;
  border: solid 3px;
  border-radius: 6px;
  border-color: var(--text-color);
  color: var(--hilight-color);
  font-weight: 500;
}
.search {
  cursor: text;
  padding: 5px;
  flex: 6;
}
.about, .sing-in {
  display: flex;
  justify-content: flex-end;
}
.sing-in {
  margin-right: 25px;
}