.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 375px);
  justify-self: center;
}
.product {
  margin-bottom: 25px;
  text-align: center;
}
.product-img {
  background-color: var(--placeholder-color);
  height: 250px;
  width: 350px;
}
.title strong{
  font-size: 26px;
}