.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 375px);
  justify-self: center;
}
.product {
  margin-bottom: 45px;
  text-align: center;
  justify-items: center;
}
.product-img {
  background-color: var(--placeholder-color);
  height: 250px;
  width: 325px;
  margin-bottom: 12px;
}
.title strong{
  font-size: 24px;
}
.price {
  font-size: 18px;
  margin-top: 8px
}