:root {
  --background-color: #222831;
  --lighter-color: #393E46;
  --text-color: #c7e1ff;
  --hilight-color: #EEEEEE;
}
* {
  font-family: 'Roboto', serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.header {
  height: 60px;
  padding: 15px;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 33px;
  background-color: var(--lighter-color);
}
.headerEl {
  background-color: var(--lighter-color);
  flex: 1;
}