:root {
  --background-color: #222831;
  --placeholder-color: #181b22;
  --lighter-color: #393E46;
  --text-color: #c7e1ff;
  --hilight-color: #EEEEEE;
  --footer-text-color: #717a8a;
}
* {
  font-family: 'Roboto', serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}
img {
  width: 50px;
  height: auto;
}